@media only screen and (min-width : 1199px) and (max-height : 685px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
//	section header top
//	header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 1199px) and (max-height : 666px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 1199px)
	.header_modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.modal_form_input_wrap
				display: inline-block
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 991px)

	.header_nav
		display: none
	.header_logo
		display: block
		margin-top: 0
	.header_modal
		margin-top: 40px
	nav[canvas]
		display: block
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.header_modal
		margin-top: 40px
	[off-canvas*=left]
		width: 255px
	.react
		h2
			font-size: 20px
	.file_wrap
		input
			width: 80%
	.white-popup
		textarea
			min-height: 80px
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 575px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 520px)
	/**/
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
	.white-popup
		input[type=submit]
			width: 100%
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 480px)

	.our_advantages .our_advantages_item .our_advantages_item_img i
		font-size: 37px
	.header_title
		h1
			padding-left: 15px
			padding-right: 15px
			font-size: 23px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 320px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 320px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 480px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 576px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 768px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 992px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan
/* Large Devices, Wide Screens */




