@media only screen and (min-width : 1199px) and (max-height : 685px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: $main_color_gradient_start
//	section header top
//	header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 1199px) and (max-height : 666px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 1199px)
	//.header_modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.modal_form_input_wrap
				display: inline-block
	//	section header top
	h1
		font-size: 53px
	.header__nav
		ul
			li + li
				margin-left: 28px
			li:nth-child(5)
				&:before
					left: -30px
			li:nth-child(6)
				&:before
					left: -30px
	//	section header main
	.header__content_wrap
		.defaul-title
			margin-bottom: 35px
	.header__about-me
		& + .header__about-me
			margin-top: 25px
			margin-bottom: 22px
	.header__form
		padding: 35px 50px 30px 35px
	.header__text .line
		margin-top: 49px

	//	section say No
	.say-no
		padding: 90px 0 80px 0
		&__video-bg
			width: 448px
		video
			width: 448px
	//	section five tasks
	.five-tasks
		padding: 90px 0 85px 0
	//	section my design
	.my-design
		padding: 88px 0 80px 0
		.text-mask
			left: 30%
		&__item_text
			font-size: 16px
		&__photo_front
			display: none
		&__photo
			margin-left: 0px
	//	section with me very comfort
	.comfort
		padding: 80px 0 110px 0
		&__item
			margin-left: 19px
		&__slogan
			font-size: 44px
	//	section make good design
	.good-design
		padding: 80px 0 85px 0
		.text-mask
			top: 30px
			right: 20px
		.line
			margin: 24px 0 70px 0
	//	section create premium design
	.premium-design
		padding: 90px 0 90px 0
		&__for
			font-size: 45px
		.line
			margin: 33px 0 39px 0
		&__description
			line-height: 1
		&__form-wrap
			padding: 50px 40px 10px 35px
	//	section how i make premium design
	.work-steps
		padding: 88px 0 88px 0
		.text-mask
			left: 55%
			text-align: left
		.line_left
			width: 40%
		.line_right
			width: 40%
	//	section portfolio? examples my works
	.portfolio
		padding: 88px 0 84px 0
		.text-mask
			left: 55%
			text-align: left
		.line
			margin: 24px 0 35px 0
	//	section price of my service
	.price
		padding: 88px 0 85px 0
		.text-mask
			left: 55%
			text-align: left
		.line
			margin: 25px 0 0 0
		&__service
			margin-top: 50px
	//	section reviews
	.reviews
		padding: 88px 0 88px 0
		.text-mask
			left: 55%
			text-align: left
		.line
			margin: 35px 0 50px 0
		&__slider_description_wrap
			width: 450px
			&:after
				bottom: 0
	//	section footer
	.footer
		padding: 45px 0 45px 0
		&__inner
			padding: 75px 35px 45px 35px
@media only screen and (max-width : 991px)
	.header_nav
		display: none
	.header_logo
		display: block
		margin-top: 0
	//.header_modal
		margin-top: 40px
	nav[canvas]
		display: block
	//	section header top
	.header__top-bg
		padding: 7px 0
	.header__nav
		ul
			li
				&:nth-child(1)
					display: none
				&:nth-child(2)
					display: none
				&:nth-child(3)
					display: none
				&:nth-child(4)
					display: none
				&:nth-child(5):before
					left: -50px
				&:nth-child(6):before
					left: -50px
			li + li
				margin-left: 75px
	.header
		h1
			font-size: 63px
		&__about-me
			font-size: 28px
		&__content_wrap
			top: calc(50% - 150px)
			text-align: center
		&__description
			display: block
			padding: 0 35px
			text-align: center
		.line
			display: inline-block
		&__form
			display: none


//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.header_modal
		margin-top: 40px
	[off-canvas*=left]
		width: 255px
	.react
		h2
			font-size: 20px
	.file_wrap
		input
			width: 80%
	.white-popup
		textarea
			min-height: 80px
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 575px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 520px)
	/**/
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
	.white-popup
		input[type=submit]
			width: 100%
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 480px)

	//.our_advantages .our_advantages_item .our_advantages_item_img i
	//	font-size: 37px
	//.header_title
	//	h1
	//		padding-left: 15px
	//		padding-right: 15px
	//		font-size: 23px
	//.intermediate
	//	.intermediate_title
	//		h3
	//			font-size: 20px
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (max-width : 320px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 320px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 480px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 576px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 768px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan

@media only screen and (min-width : 992px)
	/**/
//	section header top
//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan
/* Large Devices, Wide Screens */




