@import "fonts"
@import 'sprite'

//------------------------------
$main_color_old: #35be70
$auxiliary_txt_color_old: #443133
$main_txt_color_old: #262626
$main_bg_color_old: #fff
//------------------------------

//font variable
$latoThin: "LatoThin",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$latoRegular: "LatoRegular",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$latoMedium: "LatoMedium",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$latoLight: "LatoLight",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$latoBold: "LatoBold",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$latoBlack: "LatoBlack",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
//end font variable
//color variable
$main_bg_color_dark: #2c305f
$main_bg_color_darkest: #282c55
$form_claa-bacl_bg: #1b1d3c

$main_txt_color: #fff
$mask_text_color: #f33a72
$slider_company_text_color: #000
$slider_company-type_text_color: #282c55
$text_thin_color: #fefefe
$header_nav-hover: #f33a73
$main_color_gradient_start: #fe5b4a
$main_color_gradient_end: #f33a73
$btn_shadow-hover: 0px 0px 5px 5px rgba(86, 58, 110, 0.9)
$line_shadow: 0px 0px 14px 5px rgba(243, 58, 115, 0.6)
$line-color: #6c6f8f
$border-dashed: #fa5058

$border_color_five-tasks_item: #7a3468

//end color variable
@mixin font($color, $fz, $ff, $lh: 1.6)
	color: $color
	font-size: $fz + px
	font-size: ($fz/16) + rem
	font-family: $ff
	line-height: $lh

@mixin fz($font_px)
	font-size: $font_px + px
	font-size: ($font_px/16) + rem

@mixin pseudo($display: block, $pos: absolute, $content: '')
	content: $content
	display: $display
	position: $pos

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false)
	@include pseudo($pos: $position)
	width: 0
	height: 0
	@if $round
		border-radius: 3px
	@if $direction == down
		border-left: $size solid transparent
		border-right: $size solid transparent
		border-top: $size solid $color
		margin-top: 0 - round( $size / 2.5 )
	@else if $direction == up
		border-left: $size solid transparent
		border-right: $size solid transparent
		border-bottom: $size solid $color
		margin-bottom: 0 - round( $size / 2.5 )
	@else if $direction == right
		border-top: $size solid transparent
		border-bottom: $size solid transparent
		border-left: $size solid $color
		margin-right: -$siz
	@else if  $direction == left
		border-top: $size solid transparent
		border-bottom: $size solid transparent
		border-right: $size solid $color
		margin-left: -$size

@mixin truncate($truncation-boundary)
	max-width: $truncation-boundary
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

@mixin btnDefault($height)
	background-image: linear-gradient(to bottom, $main_color_gradient_start 0%, $main_color_gradient_end 100%)
	background-size: 100%
	position: relative
	z-index: 100
	transition: all .5s
	cursor: pointer
	&:before
		content: ''
		height: $height
		top: 0
		left: 0
		width: 100%
		opacity: 0
		transition: opacity 0.45s
		z-index: -100
		position: absolute
		background-image: linear-gradient(to bottom, $main_color_gradient_end 0%, $main_color_gradient_end 100%)
	&:hover
		box-shadow: $btn_shadow-hover
		&:before
			opacity: 1
@mixin btnbig()
.btn-big__shadow-outer
	box-shadow: 0px 0px 11px 14px rgba(86, 58, 110, 0.9)
	margin: 88px auto 0
	transition: all .5s
	&:hover
		box-shadow: 0px 0px 5px 5px rgba(86, 58, 110, 0.9)
		.btn-big__show-more
			&:before
				opacity: 1
		.btn-big__shadow-inner
			border: 2px solid transparent
			border-image: linear-gradient(to left, $main_color_gradient_end 0%, $main_color_gradient_end 100%)
			border-image-slice: 2
			box-shadow: inset 0px 0px 5px 5px rgba(86, 58, 110, 0.9)
.btn-big__shadow-inner
	transition: box-shadow .5s
	padding: 10px 10px
	border: 2px solid transparent
	border-image: linear-gradient(to left, $main_color_gradient_end 0%, $main_color_gradient_start 100%)
	border-image-slice: 2
	box-shadow: inset 0px 0px 10px 10px rgba(86, 58, 110, 0.9)
.btn-big__show-more
	background-image: linear-gradient(to bottom, $main_color_gradient_start 0%, $main_color_gradient_end 100%)
	background-size: 100%
	position: relative
	z-index: 100
	transition: all .5s
	border: none
	padding: 9px 104px
	color: $main_txt_color
	font-size: 15px
	font-family: $latoRegular
	&:before
		content: ''
		height: 42px
		top: 0
		left: 0
		width: 100%
		opacity: 0
		transition: opacity 0.45s
		z-index: -100
		position: absolute
		background-image: linear-gradient(to bottom, $main_color_gradient_end 0%, $main_color_gradient_end 100%)
//------------------------
@mixin section-mask()
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-color: rgba(44, 48, 95, .8)
.defaul-title
	display: inline-block
	line-height: 1
.line
	display: block
	width: 200px
	height: 5px
	box-shadow: $line_shadow
	background-color: $main_color_gradient_end
.text-mask
	color: $mask_text_color
	font-family: $latoThin
	font-size: 24px
	letter-spacing: 5px
.uppercase
	text-transform: uppercase

//--------------------------------------------
.main_btn
	min-width: 272px
	height: 49px
	line-height: 49px
	padding: 0 5px
	border: 1px solid transparent
	background-color: $main_color_old
	text-transform: normal
	border-radius: 5px
	@include font(#fff, 16, $latoRegular)
	transition: 0.5s
	&:hover
		background-color: transparent
		border: 1px solid $main_color_old
		color: $main_color_old
	&:active
		background-color: transparent
		border: 1px solid $main_color_old
		color: $main_color_old
	&:focus
		background-color: transparent
		border: 1px solid $main_color_old
		color: $main_color_old
		outline: 0
//.center
	text-align: center
//.left
	text-align: left
//.right
	text-align: right


//%flex
	display: flex
	align-items: center
	justify-content: center