//	section header top
// Header
.header
	min-height: 600px
	height: 100vh
	background: url(../img/header_bg.jpg) no-repeat center center fixed
	background-size: cover
	.container
		height: 100%
		min-height: 100%
		position: relative
.header__top-bg
	background-color: $main_bg_color_dark
.header__wrap
	display: flex
	justify-content: space-between
	align-items: center
.header__logo
	display: inline-block
	a
		font-family: $latoThin
		font-size: 30px
		color: #fff
		&:hover
			text-decoration: none
.header__nav
	display: inline-block
	position: relative
	vertical-align: text-bottom
	ul
		li
			list-style: none
			display: inline-block
			position: relative
			a
				font-family: $latoRegular
				font-size: 14px
				color: $main_txt_color
				text-decoration: none
				padding-bottom: 8px

				&:before
					content: " "
					position: absolute
					left: 0
					bottom: 0
					height: 1px
					width: 0
					background-color: $header_nav-hover
					transition: width 0.2s ease-in-out
				&:after
					content: " "
					position: absolute
					right: 0
					bottom: 0
					height: 1px
					width: 0
					background-color: $header_nav-hover
					transition: width 0.2s ease-in-out
				&:hover,&:focus
					&:before
						width: 50%
					&:after
						width: 50%



		li + li
			margin-left: 55px
		li:nth-child(5)
			position: relative
			&:before
				content: ""
				position: absolute
				left: -41px
				@include sprite($mail-to)
		li:nth-child(6)
			position: relative
			&:before
				content: ""
				position: absolute
				left: -41px
				bottom: -2px
				@include sprite($phone)
.header_modal
	display: inline-block
	padding: 18px 20px
	@include btnDefault(61px)

	//&.last for mob menu
	&.last
		a
			color: $main_txt_color
			&:after
				@include css-triangle(#fff,up,10px)
				top: calc(50% - 5px)
				right: -20px
				transition: 0.5s
			&:hover:after
				transform: rotate(180deg)
	a
		font-family: $latoRegular
		font-size: 16px
		color: $main_txt_color !important
		text-decoration: none
		transition: .5s
		position: relative


//	section header main
//	section say No
//	section five tasks
//	section my design
//	section with me very comfort
//	section make good design
//	section create premium design
//	section how i make premium design
//	section portfolio? examples my works
//	section price of my service
//	section reviews
//	section my slogan