// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$apple-ico-name: 'apple_ico'
$apple-ico-x: 587px
$apple-ico-y: 217px
$apple-ico-offset-x: -587px
$apple-ico-offset-y: -217px
$apple-ico-width: 50px
$apple-ico-height: 50px
$apple-ico-total-width: 645px
$apple-ico-total-height: 520px
$apple-ico-image: '~sprite/sprite.png'
$apple-ico: (587px, 217px, -587px, -217px, 50px, 50px, 645px, 520px, '~sprite/sprite.png', 'apple_ico', )
$arrow-bottom-name: 'arrow_bottom'
$arrow-bottom-x: 607px
$arrow-bottom-y: 112px
$arrow-bottom-offset-x: -607px
$arrow-bottom-offset-y: -112px
$arrow-bottom-width: 30px
$arrow-bottom-height: 43px
$arrow-bottom-total-width: 645px
$arrow-bottom-total-height: 520px
$arrow-bottom-image: '~sprite/sprite.png'
$arrow-bottom: (607px, 112px, -607px, -112px, 30px, 43px, 645px, 520px, '~sprite/sprite.png', 'arrow_bottom', )
$btn-play-name: 'btn_play'
$btn-play-x: 0px
$btn-play-y: 0px
$btn-play-offset-x: 0px
$btn-play-offset-y: 0px
$btn-play-width: 271px
$btn-play-height: 271px
$btn-play-total-width: 645px
$btn-play-total-height: 520px
$btn-play-image: '~sprite/sprite.png'
$btn-play: (0px, 0px, 0px, 0px, 271px, 271px, 645px, 520px, '~sprite/sprite.png', 'btn_play', )
$five-task-1-name: 'five_task_1'
$five-task-1-x: 273px
$five-task-1-y: 0px
$five-task-1-offset-x: -273px
$five-task-1-offset-y: 0px
$five-task-1-width: 134px
$five-task-1-height: 134px
$five-task-1-total-width: 645px
$five-task-1-total-height: 520px
$five-task-1-image: '~sprite/sprite.png'
$five-task-1: (273px, 0px, -273px, 0px, 134px, 134px, 645px, 520px, '~sprite/sprite.png', 'five_task_1', )
$five-task-2-name: 'five_task_2'
$five-task-2-x: 0px
$five-task-2-y: 273px
$five-task-2-offset-x: 0px
$five-task-2-offset-y: -273px
$five-task-2-width: 114px
$five-task-2-height: 135px
$five-task-2-total-width: 645px
$five-task-2-total-height: 520px
$five-task-2-image: '~sprite/sprite.png'
$five-task-2: (0px, 273px, 0px, -273px, 114px, 135px, 645px, 520px, '~sprite/sprite.png', 'five_task_2', )
$five-task-3-name: 'five_task_3'
$five-task-3-x: 116px
$five-task-3-y: 273px
$five-task-3-offset-x: -116px
$five-task-3-offset-y: -273px
$five-task-3-width: 130px
$five-task-3-height: 95px
$five-task-3-total-width: 645px
$five-task-3-total-height: 520px
$five-task-3-image: '~sprite/sprite.png'
$five-task-3: (116px, 273px, -116px, -273px, 130px, 95px, 645px, 520px, '~sprite/sprite.png', 'five_task_3', )
$five-task-4-name: 'five_task_4'
$five-task-4-x: 273px
$five-task-4-y: 136px
$five-task-4-offset-x: -273px
$five-task-4-offset-y: -136px
$five-task-4-width: 132px
$five-task-4-height: 134px
$five-task-4-total-width: 645px
$five-task-4-total-height: 520px
$five-task-4-image: '~sprite/sprite.png'
$five-task-4: (273px, 136px, -273px, -136px, 132px, 134px, 645px, 520px, '~sprite/sprite.png', 'five_task_4', )
$five-task-5-name: 'five_task_5'
$five-task-5-x: 409px
$five-task-5-y: 0px
$five-task-5-offset-x: -409px
$five-task-5-offset-y: 0px
$five-task-5-width: 124px
$five-task-5-height: 135px
$five-task-5-total-width: 645px
$five-task-5-total-height: 520px
$five-task-5-image: '~sprite/sprite.png'
$five-task-5: (409px, 0px, -409px, 0px, 124px, 135px, 645px, 520px, '~sprite/sprite.png', 'five_task_5', )
$good-design-adaptive-name: 'good-design-adaptive'
$good-design-adaptive-x: 409px
$good-design-adaptive-y: 137px
$good-design-adaptive-offset-x: -409px
$good-design-adaptive-offset-y: -137px
$good-design-adaptive-width: 110px
$good-design-adaptive-height: 110px
$good-design-adaptive-total-width: 645px
$good-design-adaptive-total-height: 520px
$good-design-adaptive-image: '~sprite/sprite.png'
$good-design-adaptive: (409px, 137px, -409px, -137px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-adaptive', )
$good-design-corporate-name: 'good-design-corporate'
$good-design-corporate-x: 112px
$good-design-corporate-y: 410px
$good-design-corporate-offset-x: -112px
$good-design-corporate-offset-y: -410px
$good-design-corporate-width: 110px
$good-design-corporate-height: 110px
$good-design-corporate-total-width: 645px
$good-design-corporate-total-height: 520px
$good-design-corporate-image: '~sprite/sprite.png'
$good-design-corporate: (112px, 410px, -112px, -410px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-corporate', )
$good-design-internet-name: 'good-design-internet'
$good-design-internet-x: 224px
$good-design-internet-y: 410px
$good-design-internet-offset-x: -224px
$good-design-internet-offset-y: -410px
$good-design-internet-width: 110px
$good-design-internet-height: 110px
$good-design-internet-total-width: 645px
$good-design-internet-total-height: 520px
$good-design-internet-image: '~sprite/sprite.png'
$good-design-internet: (224px, 410px, -224px, -410px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-internet', )
$good-design-landing-name: 'good-design-landing'
$good-design-landing-x: 0px
$good-design-landing-y: 410px
$good-design-landing-offset-x: 0px
$good-design-landing-offset-y: -410px
$good-design-landing-width: 110px
$good-design-landing-height: 110px
$good-design-landing-total-width: 645px
$good-design-landing-total-height: 520px
$good-design-landing-image: '~sprite/sprite.png'
$good-design-landing: (0px, 410px, 0px, -410px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-landing', )
$good-design-personal-name: 'good-design-personal'
$good-design-personal-x: 535px
$good-design-personal-y: 0px
$good-design-personal-offset-x: -535px
$good-design-personal-offset-y: 0px
$good-design-personal-width: 110px
$good-design-personal-height: 110px
$good-design-personal-total-width: 645px
$good-design-personal-total-height: 520px
$good-design-personal-image: '~sprite/sprite.png'
$good-design-personal: (535px, 0px, -535px, 0px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-personal', )
$good-design-redisign-name: 'good-design-redisign'
$good-design-redisign-x: 336px
$good-design-redisign-y: 410px
$good-design-redisign-offset-x: -336px
$good-design-redisign-offset-y: -410px
$good-design-redisign-width: 110px
$good-design-redisign-height: 110px
$good-design-redisign-total-width: 645px
$good-design-redisign-total-height: 520px
$good-design-redisign-image: '~sprite/sprite.png'
$good-design-redisign: (336px, 410px, -336px, -410px, 110px, 110px, 645px, 520px, '~sprite/sprite.png', 'good-design-redisign', )
$google-ico-name: 'google_ico'
$google-ico-x: 535px
$google-ico-y: 217px
$google-ico-offset-x: -535px
$google-ico-offset-y: -217px
$google-ico-width: 50px
$google-ico-height: 50px
$google-ico-total-width: 645px
$google-ico-total-height: 520px
$google-ico-image: '~sprite/sprite.png'
$google-ico: (535px, 217px, -535px, -217px, 50px, 50px, 645px, 520px, '~sprite/sprite.png', 'google_ico', )
$header-mail-name: 'header_mail'
$header-mail-x: 535px
$header-mail-y: 307px
$header-mail-offset-x: -535px
$header-mail-offset-y: -307px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 645px
$header-mail-total-height: 520px
$header-mail-image: '~sprite/sprite.png'
$header-mail: (535px, 307px, -535px, -307px, 17px, 19px, 645px, 520px, '~sprite/sprite.png', 'header_mail', )
$mail-to-name: 'mail_to'
$mail-to-x: 604px
$mail-to-y: 269px
$mail-to-offset-x: -604px
$mail-to-offset-y: -269px
$mail-to-width: 30px
$mail-to-height: 21px
$mail-to-total-width: 645px
$mail-to-total-height: 520px
$mail-to-image: '~sprite/sprite.png'
$mail-to: (604px, 269px, -604px, -269px, 30px, 21px, 645px, 520px, '~sprite/sprite.png', 'mail_to', )
$modal-close-name: 'modal_close'
$modal-close-x: 535px
$modal-close-y: 269px
$modal-close-offset-x: -535px
$modal-close-offset-y: -269px
$modal-close-width: 35px
$modal-close-height: 36px
$modal-close-total-width: 645px
$modal-close-total-height: 520px
$modal-close-image: '~sprite/sprite.png'
$modal-close: (535px, 269px, -535px, -269px, 35px, 36px, 645px, 520px, '~sprite/sprite.png', 'modal_close', )
$modal-select-traingle-name: 'modal_select_traingle'
$modal-select-traingle-x: 607px
$modal-select-traingle-y: 157px
$modal-select-traingle-offset-x: -607px
$modal-select-traingle-offset-y: -157px
$modal-select-traingle-width: 8px
$modal-select-traingle-height: 8px
$modal-select-traingle-total-width: 645px
$modal-select-traingle-total-height: 520px
$modal-select-traingle-image: '~sprite/sprite.png'
$modal-select-traingle: (607px, 157px, -607px, -157px, 8px, 8px, 645px, 520px, '~sprite/sprite.png', 'modal_select_traingle', )
$my-discounts-progress-level-item-circle5-name: 'my_discounts_progress_level_item_circle5'
$my-discounts-progress-level-item-circle5-x: 535px
$my-discounts-progress-level-item-circle5-y: 174px
$my-discounts-progress-level-item-circle5-offset-x: -535px
$my-discounts-progress-level-item-circle5-offset-y: -174px
$my-discounts-progress-level-item-circle5-width: 66px
$my-discounts-progress-level-item-circle5-height: 41px
$my-discounts-progress-level-item-circle5-total-width: 645px
$my-discounts-progress-level-item-circle5-total-height: 520px
$my-discounts-progress-level-item-circle5-image: '~sprite/sprite.png'
$my-discounts-progress-level-item-circle5: (535px, 174px, -535px, -174px, 66px, 41px, 645px, 520px, '~sprite/sprite.png', 'my_discounts_progress_level_item_circle5', )
$phone-name: 'phone'
$phone-x: 572px
$phone-y: 269px
$phone-offset-x: -572px
$phone-offset-y: -269px
$phone-width: 30px
$phone-height: 30px
$phone-total-width: 645px
$phone-total-height: 520px
$phone-image: '~sprite/sprite.png'
$phone: (572px, 269px, -572px, -269px, 30px, 30px, 645px, 520px, '~sprite/sprite.png', 'phone', )
$quotes-ic-name: 'quotes_ic'
$quotes-ic-x: 535px
$quotes-ic-y: 112px
$quotes-ic-offset-x: -535px
$quotes-ic-offset-y: -112px
$quotes-ic-width: 70px
$quotes-ic-height: 60px
$quotes-ic-total-width: 645px
$quotes-ic-total-height: 520px
$quotes-ic-image: '~sprite/sprite.png'
$quotes-ic: (535px, 112px, -535px, -112px, 70px, 60px, 645px, 520px, '~sprite/sprite.png', 'quotes_ic', )
$slider-btn-name: 'slider_btn'
$slider-btn-x: 603px
$slider-btn-y: 174px
$slider-btn-offset-x: -603px
$slider-btn-offset-y: -174px
$slider-btn-width: 40px
$slider-btn-height: 41px
$slider-btn-total-width: 645px
$slider-btn-total-height: 520px
$slider-btn-image: '~sprite/sprite.png'
$slider-btn: (603px, 174px, -603px, -174px, 40px, 41px, 645px, 520px, '~sprite/sprite.png', 'slider_btn', )
$spritesheet-width: 645px
$spritesheet-height: 520px
$spritesheet-image: '~sprite/sprite.png'
$spritesheet-sprites: ($apple-ico, $arrow-bottom, $btn-play, $five-task-1, $five-task-2, $five-task-3, $five-task-4, $five-task-5, $good-design-adaptive, $good-design-corporate, $good-design-internet, $good-design-landing, $good-design-personal, $good-design-redisign, $google-ico, $header-mail, $mail-to, $modal-close, $modal-select-traingle, $my-discounts-progress-level-item-circle5, $phone, $quotes-ic, $slider-btn, )
$spritesheet: (645px, 520px, '~sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
