
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.header_modal
		margin-top: 20px
	.our__advantages
		p
			padding: 0 5%
	.our__advantages-items_left
		max-height: 830px
		background-size: contain
		background: url(../img/our_advantages_bg.png) no-repeat right 54px top 130px
		.our__advantages-description
			width: 69%
		.our__advantages-item + .our__advantages-item
			margin-top: 50px
		.our__advantages-item
			&:nth-child(4)
				.our__advantages-description
					margin-bottom: 20px
	.our__advantages-items_right
		max-height: 830px
		background-size: contain
		background: url("../img/our_advantages_bg-2.png") no-repeat  left 54px top 130px
		.our__advantages-description
			width: 69%
		.our__advantages-item + .our__advantages-item
			margin-top: 50px
		.our__advantages-item
			&:nth-child(4)
				.our__advantages-description
					margin-bottom: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.intermediate_item
				display: block
			.modal_form_input_wrap
	//Секция отзывы слайдер
	.reviews
		padding-bottom: 0
		.description
			margin: 0 0 15px 0
			padding: 0 5%
		.customPrevBtn
			right: 13px

	//слайдер обшие классы
	.slider-wrap
		padding: 0 40px 20px 40px
	.customPrevBtn
		right: 18px
	.best-seiling
		&:before
			height: 60%

	//секция товарные группы
	#tovarGroups
		.description
			padding: 0 5%
		.tovar-groups__item
			& + .tovar-groups__item
				margin-top: 50px
			.tovar-groups__photo
				width: 377px
				height: 311px
				img
					width: 377px
					height: 311px
			.tovar-groups__description
				padding: 0 3px 0 15px
				h4
					margin-top: 0
				p + p
					padding-top: 10px
	//cекция Хиты продаж
	.best-seiling
		.tovar-groups__item
			.tovar-groups__photo
				height: inherit
	// секция наши работы слайдер
	.slider_ourWorks
		min-height: inherit
		.description
			padding: 0 5%
	//Секция Часто задаваемые вопросы
	.accordion
		margin-right: 15px
		//.often-question
			//&__content
				//height: inherit !important
		.ui-accordion-header
			font-size: 15px
	// Секция как мы работаем
	.how-we-work
		&__title
			padding: 0 5%
		.points-wrap__send
			left: 22%
		.points-wrap__consult
			left: 38.5%
		.points-wrap__settings
			left: 55%
		.points-wrap
			.point
				width: 7px
	//Секция Как с нами связаться?
	.how-contact
		&:before
			top: -263px
		&_metods
			padding-top: 50px
			padding-bottom: 80px

	.customBtn
		top: calc(50% - 65px)
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)

	.header_title
		top: calc(30% - 71px)
	.intermediate_item + .intermediate_item
		margin-top: 0px
	input[type=submit]
		margin-top: 0px
	.mnu_btn
		display: block
	nav[canvas]
		height: 57px
	.header_logo
		display: block
		margin: 0 auto
		padding: 0
	.header_nav
		display: none
	.header_phone
		display: none
	.header_modal
		margin-top: 40px
	nav[canvas]
		display: block
	/**/


	// Секция товарные группы
	.tovar-groups
		padding-bottom: 40px
		&__description
			h4
				margin-top: 15px
				text-align: center
	.tovar-groups__item
		flex-direction: column
		align-items: center
	.best-seiling
		&:before
			width: 145%
		.best-seiling__wrap
			padding-bottom: 40px
	.reverse
		flex-direction: column !important



	// Секция our_advantages
	.our__advantages
		padding-bottom: 65px
	.our__advantages-items_left
		background: none
		max-height: inherit
		h3
			text-align: center
		.our__advantages-item
			&:nth-child(3)
				margin-right: 0
			&:nth-child(4)
				margin-right: 0
				.our__advantages-description
					margin-bottom: 0px
				p
					height: auto
			&:nth-child(5)
				margin-right: 0
		.our__advantages-description
			width: 80%

	.our__advantages-items_right
		margin-top: 30px
		background: none
		h3
			text-align: center
		.our__advantages-item
			&:nth-child(2)
				margin-left: 0
			&:nth-child(3)
				margin-left: 0
			&:nth-child(4)
				margin-left: 0
				.our__advantages-description
					margin-bottom: 0px
				p
					height: auto
			&:nth-child(5)
				margin-left: 0


	#tovarGroups
		.tovar-groups__item
			.tovar-groups__photo
				width: 266px
				height: 200px
				img
					width: 266px
					height: 200px

	// Секция как мы работаем
	.how-we-work
		.item-usluga
			margin-top: 15px
			p
				margin-top: 0
		.points-wrap__send, .points-wrap__consult, .points-wrap__settings, .points-wrap__gift
			display: none
	//Видео отзывы наших клиентов
	.reviews
		.customNextBtn
			top: 36%
		.customPrevBtn
			top: 36%
	//Часто задаваемые вопросы
	.often-question
		.title
			margin-top: 20px
		#accordion
			margin-bottom: 40px
	//Общие классы
	.customNextBtn
		left: 19px
	//.customBtn
	//	top: 30%
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

	.header_title
		stop: calc(30% - 71px)
		.intermediate_item
			margin-top: 20px
	input[type=submit]
		//margin-top: 20px
	//Секция Мы покажем плюсы новых технологий
	.our__advantages
		padding-top: 40px
		padding-bottom: 0
	.our__advantages-items_left
		min-height: 640px
		.our__advantages-item + .our__advantages-item
			margin-top: 25px
		&-item
			margin-top: 30px
	.our__advantages-items_right
		margin-top: 0
		min-height: 640px
		.our__advantages-item + .our__advantages-item
			margin-top: 25px
		&-item
			margin-top: 30px
	//Секция товарные группы
	.tovar-groups
		padding-bottom: 40px
	.tovar-groups__item
		.tovar-groups__photo
			display: none
		.lightgallery
			display: none
	//Секция Наши работы слайдер
	.slider_ourWorks
		padding-bottom: 0
	//Хиты продаж
	.best-seiling
		&:before
			height: 75%
			width: 130%
		.best-seiling__wrap
			padding-bottom: 0
	.forma-callBack
		&__title
			font-size: 1.5rem
		&__description
			padding: 0 5%
		.intermediate_item
			margin-top: 20px
	//Секция Часто задаваемые вопросы
	.accordion
		.ui-accordion-header
			font-size: 12px
			line-height: 3
	.often-question
		#accordion
			margin-bottom: 40px
	.how-contact_metods
		text-align: center
		.how-contact_metods-wrap
			margin-top: 20px
	.how-we-work
		.how-we-work__icons
			margin-top: 0
	.footer
		.social_networks
			margin-left: 20px
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.title
		font-size: 1.5rem
	.header_modal
		margin-top: 40px
	[off-canvas*=left]
		width: 255px
@media only screen and (max-width : 668px)
	.header_title
		top: calc(23% - 71px)
	//Скция наши перимущеста
	.our__advantages-items_left
		.our__advantages-description
			width: 100%
			h4
				text-align: center
				margin-left: 0
			p
				text-align: center
		.our__advantages-item
			div + div
				display: block
				text-align: center
	.our__advantages-items_right
		max-height: 100%
		h3
			margin-top: 30px
		.our__advantages-description
			width: 100%
			margin-left: 0
			h4
				text-align: center
			p
				text-align: center
		.our__advantages-item
			display: flex
			flex-direction: column-reverse
			div
				display: block
				text-align: center

@media only screen and (max-width : 600px)
	.dm-modal
		width: 90%
	.accordion
		.ui-accordion-header
			font-size: 10px
			line-height: 4
	.forma-callBack
		&__title
			font-size: 1.3rem
/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px)
	/**/
	//секция часто задавемы вопросы
	.accordion
		.ui-accordion-header
			font-size: 10px
			line-height: 3
			height: 65px
	.often-question__title
		.ui-icon
			margin-top: 16px
	.often-question
		.ui-accordion-header-active
			.ui-icon
				margin-top: 16px
	.dm-modal
		//width: 100%
		padding: 50px 5px 50px 5px
	.dm-modal
		input[type=submit]
			min-width: 100%
	.how-contact
		&:before
			width: 120%
	.forma-callBack
		&__title
			font-size: 1.1rem
@media only screen and (max-width : 480px)
	/**/
	.header_title
		h1
			font-size: 26px
	.modal_form_input_wrap
		.modal_input_error
			right: 0px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.how-contact_ic-send
		display: block
		margin: 0 auto
	.how-contact_ic-phone
		display: block
		margin: 0 auto
	.accordion
		.ui-accordion-header
			line-height: 2

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.forma-callBack
		&__title
			font-size: 1rem

/*==========  Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container
		width: 1200px



