// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$apple-ico-name: 'apple_ico'
$apple-ico-x: 52px
$apple-ico-y: 249px
$apple-ico-offset-x: -52px
$apple-ico-offset-y: -249px
$apple-ico-width: 50px
$apple-ico-height: 50px
$apple-ico-total-width: 409px
$apple-ico-total-height: 299px
$apple-ico-image: '~sprite/sprite.png'
$apple-ico: (52px, 249px, -52px, -249px, 50px, 50px, 409px, 299px, '~sprite/sprite.png', 'apple_ico', )
$arrow-close-name: 'arrow-close'
$arrow-close-x: 382px
$arrow-close-y: 207px
$arrow-close-offset-x: -382px
$arrow-close-offset-y: -207px
$arrow-close-width: 18px
$arrow-close-height: 18px
$arrow-close-total-width: 409px
$arrow-close-total-height: 299px
$arrow-close-image: '~sprite/sprite.png'
$arrow-close: (382px, 207px, -382px, -207px, 18px, 18px, 409px, 299px, '~sprite/sprite.png', 'arrow-close', )
$arrow-open-name: 'arrow-open'
$arrow-open-x: 146px
$arrow-open-y: 249px
$arrow-open-offset-x: -146px
$arrow-open-offset-y: -249px
$arrow-open-width: 18px
$arrow-open-height: 18px
$arrow-open-total-width: 409px
$arrow-open-total-height: 299px
$arrow-open-image: '~sprite/sprite.png'
$arrow-open: (146px, 249px, -146px, -249px, 18px, 18px, 409px, 299px, '~sprite/sprite.png', 'arrow-open', )
$btn-slider-name: 'btn_slider'
$btn-slider-x: 366px
$btn-slider-y: 207px
$btn-slider-offset-x: -366px
$btn-slider-offset-y: -207px
$btn-slider-width: 14px
$btn-slider-height: 28px
$btn-slider-total-width: 409px
$btn-slider-total-height: 299px
$btn-slider-image: '~sprite/sprite.png'
$btn-slider: (366px, 207px, -366px, -207px, 14px, 28px, 409px, 299px, '~sprite/sprite.png', 'btn_slider', )
$child-ico-name: 'child_ico'
$child-ico-x: 0px
$child-ico-y: 83px
$child-ico-offset-x: 0px
$child-ico-offset-y: -83px
$child-ico-width: 80px
$child-ico-height: 81px
$child-ico-total-width: 409px
$child-ico-total-height: 299px
$child-ico-image: '~sprite/sprite.png'
$child-ico: (0px, 83px, 0px, -83px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'child_ico', )
$consult-ico-name: 'consult_ico'
$consult-ico-x: 82px
$consult-ico-y: 83px
$consult-ico-offset-x: -82px
$consult-ico-offset-y: -83px
$consult-ico-width: 80px
$consult-ico-height: 81px
$consult-ico-total-width: 409px
$consult-ico-total-height: 299px
$consult-ico-image: '~sprite/sprite.png'
$consult-ico: (82px, 83px, -82px, -83px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'consult_ico', )
$gift-ico-name: 'gift_ico'
$gift-ico-x: 164px
$gift-ico-y: 83px
$gift-ico-offset-x: -164px
$gift-ico-offset-y: -83px
$gift-ico-width: 80px
$gift-ico-height: 81px
$gift-ico-total-width: 409px
$gift-ico-total-height: 299px
$gift-ico-image: '~sprite/sprite.png'
$gift-ico: (164px, 83px, -164px, -83px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'gift_ico', )
$google-ico-name: 'google_ico'
$google-ico-x: 0px
$google-ico-y: 249px
$google-ico-offset-x: 0px
$google-ico-offset-y: -249px
$google-ico-width: 50px
$google-ico-height: 50px
$google-ico-total-width: 409px
$google-ico-total-height: 299px
$google-ico-image: '~sprite/sprite.png'
$google-ico: (0px, 249px, 0px, -249px, 50px, 50px, 409px, 299px, '~sprite/sprite.png', 'google_ico', )
$header-mail-name: 'header_mail'
$header-mail-x: 146px
$header-mail-y: 269px
$header-mail-offset-x: -146px
$header-mail-offset-y: -269px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 409px
$header-mail-total-height: 299px
$header-mail-image: '~sprite/sprite.png'
$header-mail: (146px, 269px, -146px, -269px, 17px, 19px, 409px, 299px, '~sprite/sprite.png', 'header_mail', )
$ironing-ico-name: 'ironing_ico'
$ironing-ico-x: 329px
$ironing-ico-y: 82px
$ironing-ico-offset-x: -329px
$ironing-ico-offset-y: -82px
$ironing-ico-width: 80px
$ironing-ico-height: 80px
$ironing-ico-total-width: 409px
$ironing-ico-total-height: 299px
$ironing-ico-image: '~sprite/sprite.png'
$ironing-ico: (329px, 82px, -329px, -82px, 80px, 80px, 409px, 299px, '~sprite/sprite.png', 'ironing_ico', )
$location-ico-name: 'location_ico'
$location-ico-x: 164px
$location-ico-y: 166px
$location-ico-offset-x: -164px
$location-ico-offset-y: -166px
$location-ico-width: 80px
$location-ico-height: 80px
$location-ico-total-width: 409px
$location-ico-total-height: 299px
$location-ico-image: '~sprite/sprite.png'
$location-ico: (164px, 166px, -164px, -166px, 80px, 80px, 409px, 299px, '~sprite/sprite.png', 'location_ico', )
$modal-close-name: 'modal_close'
$modal-close-x: 329px
$modal-close-y: 207px
$modal-close-offset-x: -329px
$modal-close-offset-y: -207px
$modal-close-width: 35px
$modal-close-height: 36px
$modal-close-total-width: 409px
$modal-close-total-height: 299px
$modal-close-image: '~sprite/sprite.png'
$modal-close: (329px, 207px, -329px, -207px, 35px, 36px, 409px, 299px, '~sprite/sprite.png', 'modal_close', )
$modal-select-traingle-name: 'modal_select_traingle'
$modal-select-traingle-x: 397px
$modal-select-traingle-y: 164px
$modal-select-traingle-offset-x: -397px
$modal-select-traingle-offset-y: -164px
$modal-select-traingle-width: 8px
$modal-select-traingle-height: 8px
$modal-select-traingle-total-width: 409px
$modal-select-traingle-total-height: 299px
$modal-select-traingle-image: '~sprite/sprite.png'
$modal-select-traingle: (397px, 164px, -397px, -164px, 8px, 8px, 409px, 299px, '~sprite/sprite.png', 'modal_select_traingle', )
$my-discounts-progress-level-item-circle5-name: 'my_discounts_progress_level_item_circle5'
$my-discounts-progress-level-item-circle5-x: 329px
$my-discounts-progress-level-item-circle5-y: 164px
$my-discounts-progress-level-item-circle5-offset-x: -329px
$my-discounts-progress-level-item-circle5-offset-y: -164px
$my-discounts-progress-level-item-circle5-width: 66px
$my-discounts-progress-level-item-circle5-height: 41px
$my-discounts-progress-level-item-circle5-total-width: 409px
$my-discounts-progress-level-item-circle5-total-height: 299px
$my-discounts-progress-level-item-circle5-image: '~sprite/sprite.png'
$my-discounts-progress-level-item-circle5: (329px, 164px, -329px, -164px, 66px, 41px, 409px, 299px, '~sprite/sprite.png', 'my_discounts_progress_level_item_circle5', )
$no-ironing-ico-name: 'no_ironing_ico'
$no-ironing-ico-x: 329px
$no-ironing-ico-y: 0px
$no-ironing-ico-offset-x: -329px
$no-ironing-ico-offset-y: 0px
$no-ironing-ico-width: 80px
$no-ironing-ico-height: 80px
$no-ironing-ico-total-width: 409px
$no-ironing-ico-total-height: 299px
$no-ironing-ico-image: '~sprite/sprite.png'
$no-ironing-ico: (329px, 0px, -329px, 0px, 80px, 80px, 409px, 299px, '~sprite/sprite.png', 'no_ironing_ico', )
$no-wash-ico-name: 'no_wash_ico'
$no-wash-ico-x: 82px
$no-wash-ico-y: 166px
$no-wash-ico-offset-x: -82px
$no-wash-ico-offset-y: -166px
$no-wash-ico-width: 80px
$no-wash-ico-height: 81px
$no-wash-ico-total-width: 409px
$no-wash-ico-total-height: 299px
$no-wash-ico-image: '~sprite/sprite.png'
$no-wash-ico: (82px, 166px, -82px, -166px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'no_wash_ico', )
$phone-ico-name: 'phone_ico'
$phone-ico-x: 246px
$phone-ico-y: 166px
$phone-ico-offset-x: -246px
$phone-ico-offset-y: -166px
$phone-ico-width: 80px
$phone-ico-height: 80px
$phone-ico-total-width: 409px
$phone-ico-total-height: 299px
$phone-ico-image: '~sprite/sprite.png'
$phone-ico: (246px, 166px, -246px, -166px, 80px, 80px, 409px, 299px, '~sprite/sprite.png', 'phone_ico', )
$price-ico-name: 'price_ico'
$price-ico-x: 0px
$price-ico-y: 0px
$price-ico-offset-x: 0px
$price-ico-offset-y: 0px
$price-ico-width: 81px
$price-ico-height: 81px
$price-ico-total-width: 409px
$price-ico-total-height: 299px
$price-ico-image: '~sprite/sprite.png'
$price-ico: (0px, 0px, 0px, 0px, 81px, 81px, 409px, 299px, '~sprite/sprite.png', 'price_ico', )
$price2-ico-name: 'price2_ico'
$price2-ico-x: 0px
$price2-ico-y: 166px
$price2-ico-offset-x: 0px
$price2-ico-offset-y: -166px
$price2-ico-width: 80px
$price2-ico-height: 81px
$price2-ico-total-width: 409px
$price2-ico-total-height: 299px
$price2-ico-image: '~sprite/sprite.png'
$price2-ico: (0px, 166px, 0px, -166px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'price2_ico', )
$send-ico-name: 'send_ico'
$send-ico-x: 247px
$send-ico-y: 0px
$send-ico-offset-x: -247px
$send-ico-offset-y: 0px
$send-ico-width: 80px
$send-ico-height: 81px
$send-ico-total-width: 409px
$send-ico-total-height: 299px
$send-ico-image: '~sprite/sprite.png'
$send-ico: (247px, 0px, -247px, 0px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'send_ico', )
$settings-ico-name: 'settings_ico'
$settings-ico-x: 165px
$settings-ico-y: 0px
$settings-ico-offset-x: -165px
$settings-ico-offset-y: 0px
$settings-ico-width: 80px
$settings-ico-height: 81px
$settings-ico-total-width: 409px
$settings-ico-total-height: 299px
$settings-ico-image: '~sprite/sprite.png'
$settings-ico: (165px, 0px, -165px, 0px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'settings_ico', )
$slider-btn-name: 'slider_btn'
$slider-btn-x: 104px
$slider-btn-y: 249px
$slider-btn-offset-x: -104px
$slider-btn-offset-y: -249px
$slider-btn-width: 40px
$slider-btn-height: 41px
$slider-btn-total-width: 409px
$slider-btn-total-height: 299px
$slider-btn-image: '~sprite/sprite.png'
$slider-btn: (104px, 249px, -104px, -249px, 40px, 41px, 409px, 299px, '~sprite/sprite.png', 'slider_btn', )
$time-ico-name: 'time_ico'
$time-ico-x: 247px
$time-ico-y: 83px
$time-ico-offset-x: -247px
$time-ico-offset-y: -83px
$time-ico-width: 80px
$time-ico-height: 81px
$time-ico-total-width: 409px
$time-ico-total-height: 299px
$time-ico-image: '~sprite/sprite.png'
$time-ico: (247px, 83px, -247px, -83px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'time_ico', )
$wash-ico-name: 'wash_ico'
$wash-ico-x: 83px
$wash-ico-y: 0px
$wash-ico-offset-x: -83px
$wash-ico-offset-y: 0px
$wash-ico-width: 80px
$wash-ico-height: 81px
$wash-ico-total-width: 409px
$wash-ico-total-height: 299px
$wash-ico-image: '~sprite/sprite.png'
$wash-ico: (83px, 0px, -83px, 0px, 80px, 81px, 409px, 299px, '~sprite/sprite.png', 'wash_ico', )
$spritesheet-width: 409px
$spritesheet-height: 299px
$spritesheet-image: '~sprite/sprite.png'
$spritesheet-sprites: ($apple-ico, $arrow-close, $arrow-open, $btn-slider, $child-ico, $consult-ico, $gift-ico, $google-ico, $header-mail, $ironing-ico, $location-ico, $modal-close, $modal-select-traingle, $my-discounts-progress-level-item-circle5, $no-ironing-ico, $no-wash-ico, $phone-ico, $price-ico, $price2-ico, $send-ico, $settings-ico, $slider-btn, $time-ico, $wash-ico, )
$spritesheet: (409px, 299px, '~sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
