// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$apple-ico-name: 'apple_ico'
$apple-ico-x: 52px
$apple-ico-y: 209px
$apple-ico-offset-x: -52px
$apple-ico-offset-y: -209px
$apple-ico-width: 50px
$apple-ico-height: 50px
$apple-ico-total-width: 327px
$apple-ico-total-height: 259px
$apple-ico-image: '~sprite/sprite.png'
$apple-ico: (52px, 209px, -52px, -209px, 50px, 50px, 327px, 259px, '~sprite/sprite.png', 'apple_ico', )
$btn-slider-name: 'btn_slider'
$btn-slider-x: 147px
$btn-slider-y: 166px
$btn-slider-offset-x: -147px
$btn-slider-offset-y: -166px
$btn-slider-width: 14px
$btn-slider-height: 28px
$btn-slider-total-width: 327px
$btn-slider-total-height: 259px
$btn-slider-image: '~sprite/sprite.png'
$btn-slider: (147px, 166px, -147px, -166px, 14px, 28px, 327px, 259px, '~sprite/sprite.png', 'btn_slider', )
$child-ico-name: 'child_ico'
$child-ico-x: 165px
$child-ico-y: 0px
$child-ico-offset-x: -165px
$child-ico-offset-y: 0px
$child-ico-width: 80px
$child-ico-height: 81px
$child-ico-total-width: 327px
$child-ico-total-height: 259px
$child-ico-image: '~sprite/sprite.png'
$child-ico: (165px, 0px, -165px, 0px, 80px, 81px, 327px, 259px, '~sprite/sprite.png', 'child_ico', )
$google-ico-name: 'google_ico'
$google-ico-x: 0px
$google-ico-y: 209px
$google-ico-offset-x: 0px
$google-ico-offset-y: -209px
$google-ico-width: 50px
$google-ico-height: 50px
$google-ico-total-width: 327px
$google-ico-total-height: 259px
$google-ico-image: '~sprite/sprite.png'
$google-ico: (0px, 209px, 0px, -209px, 50px, 50px, 327px, 259px, '~sprite/sprite.png', 'google_ico', )
$header-mail-name: 'header_mail'
$header-mail-x: 163px
$header-mail-y: 166px
$header-mail-offset-x: -163px
$header-mail-offset-y: -166px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 327px
$header-mail-total-height: 259px
$header-mail-image: '~sprite/sprite.png'
$header-mail: (163px, 166px, -163px, -166px, 17px, 19px, 327px, 259px, '~sprite/sprite.png', 'header_mail', )
$ironing-ico-name: 'ironing_ico'
$ironing-ico-x: 247px
$ironing-ico-y: 0px
$ironing-ico-offset-x: -247px
$ironing-ico-offset-y: 0px
$ironing-ico-width: 80px
$ironing-ico-height: 80px
$ironing-ico-total-width: 327px
$ironing-ico-total-height: 259px
$ironing-ico-image: '~sprite/sprite.png'
$ironing-ico: (247px, 0px, -247px, 0px, 80px, 80px, 327px, 259px, '~sprite/sprite.png', 'ironing_ico', )
$modal-close-name: 'modal_close'
$modal-close-x: 110px
$modal-close-y: 166px
$modal-close-offset-x: -110px
$modal-close-offset-y: -166px
$modal-close-width: 35px
$modal-close-height: 36px
$modal-close-total-width: 327px
$modal-close-total-height: 259px
$modal-close-image: '~sprite/sprite.png'
$modal-close: (110px, 166px, -110px, -166px, 35px, 36px, 327px, 259px, '~sprite/sprite.png', 'modal_close', )
$modal-select-traingle-name: 'modal_select_traingle'
$modal-select-traingle-x: 182px
$modal-select-traingle-y: 166px
$modal-select-traingle-offset-x: -182px
$modal-select-traingle-offset-y: -166px
$modal-select-traingle-width: 8px
$modal-select-traingle-height: 8px
$modal-select-traingle-total-width: 327px
$modal-select-traingle-total-height: 259px
$modal-select-traingle-image: '~sprite/sprite.png'
$modal-select-traingle: (182px, 166px, -182px, -166px, 8px, 8px, 327px, 259px, '~sprite/sprite.png', 'modal_select_traingle', )
$my-discounts-progress-level-item-circle5-name: 'my_discounts_progress_level_item_circle5'
$my-discounts-progress-level-item-circle5-x: 0px
$my-discounts-progress-level-item-circle5-y: 166px
$my-discounts-progress-level-item-circle5-offset-x: 0px
$my-discounts-progress-level-item-circle5-offset-y: -166px
$my-discounts-progress-level-item-circle5-width: 66px
$my-discounts-progress-level-item-circle5-height: 41px
$my-discounts-progress-level-item-circle5-total-width: 327px
$my-discounts-progress-level-item-circle5-total-height: 259px
$my-discounts-progress-level-item-circle5-image: '~sprite/sprite.png'
$my-discounts-progress-level-item-circle5: (0px, 166px, 0px, -166px, 66px, 41px, 327px, 259px, '~sprite/sprite.png', 'my_discounts_progress_level_item_circle5', )
$no-ironing-ico-name: 'no_ironing_ico'
$no-ironing-ico-x: 247px
$no-ironing-ico-y: 82px
$no-ironing-ico-offset-x: -247px
$no-ironing-ico-offset-y: -82px
$no-ironing-ico-width: 80px
$no-ironing-ico-height: 80px
$no-ironing-ico-total-width: 327px
$no-ironing-ico-total-height: 259px
$no-ironing-ico-image: '~sprite/sprite.png'
$no-ironing-ico: (247px, 82px, -247px, -82px, 80px, 80px, 327px, 259px, '~sprite/sprite.png', 'no_ironing_ico', )
$no-wash-ico-name: 'no_wash_ico'
$no-wash-ico-x: 164px
$no-wash-ico-y: 83px
$no-wash-ico-offset-x: -164px
$no-wash-ico-offset-y: -83px
$no-wash-ico-width: 80px
$no-wash-ico-height: 81px
$no-wash-ico-total-width: 327px
$no-wash-ico-total-height: 259px
$no-wash-ico-image: '~sprite/sprite.png'
$no-wash-ico: (164px, 83px, -164px, -83px, 80px, 81px, 327px, 259px, '~sprite/sprite.png', 'no_wash_ico', )
$price-ico-name: 'price_ico'
$price-ico-x: 0px
$price-ico-y: 0px
$price-ico-offset-x: 0px
$price-ico-offset-y: 0px
$price-ico-width: 81px
$price-ico-height: 81px
$price-ico-total-width: 327px
$price-ico-total-height: 259px
$price-ico-image: '~sprite/sprite.png'
$price-ico: (0px, 0px, 0px, 0px, 81px, 81px, 327px, 259px, '~sprite/sprite.png', 'price_ico', )
$price2-ico-name: 'price2_ico'
$price2-ico-x: 82px
$price2-ico-y: 83px
$price2-ico-offset-x: -82px
$price2-ico-offset-y: -83px
$price2-ico-width: 80px
$price2-ico-height: 81px
$price2-ico-total-width: 327px
$price2-ico-total-height: 259px
$price2-ico-image: '~sprite/sprite.png'
$price2-ico: (82px, 83px, -82px, -83px, 80px, 81px, 327px, 259px, '~sprite/sprite.png', 'price2_ico', )
$slider-btn-name: 'slider_btn'
$slider-btn-x: 68px
$slider-btn-y: 166px
$slider-btn-offset-x: -68px
$slider-btn-offset-y: -166px
$slider-btn-width: 40px
$slider-btn-height: 41px
$slider-btn-total-width: 327px
$slider-btn-total-height: 259px
$slider-btn-image: '~sprite/sprite.png'
$slider-btn: (68px, 166px, -68px, -166px, 40px, 41px, 327px, 259px, '~sprite/sprite.png', 'slider_btn', )
$time-ico-name: 'time_ico'
$time-ico-x: 0px
$time-ico-y: 83px
$time-ico-offset-x: 0px
$time-ico-offset-y: -83px
$time-ico-width: 80px
$time-ico-height: 81px
$time-ico-total-width: 327px
$time-ico-total-height: 259px
$time-ico-image: '~sprite/sprite.png'
$time-ico: (0px, 83px, 0px, -83px, 80px, 81px, 327px, 259px, '~sprite/sprite.png', 'time_ico', )
$wash-ico-name: 'wash_ico'
$wash-ico-x: 83px
$wash-ico-y: 0px
$wash-ico-offset-x: -83px
$wash-ico-offset-y: 0px
$wash-ico-width: 80px
$wash-ico-height: 81px
$wash-ico-total-width: 327px
$wash-ico-total-height: 259px
$wash-ico-image: '~sprite/sprite.png'
$wash-ico: (83px, 0px, -83px, 0px, 80px, 81px, 327px, 259px, '~sprite/sprite.png', 'wash_ico', )
$spritesheet-width: 327px
$spritesheet-height: 259px
$spritesheet-image: '~sprite/sprite.png'
$spritesheet-sprites: ($apple-ico, $btn-slider, $child-ico, $google-ico, $header-mail, $ironing-ico, $modal-close, $modal-select-traingle, $my-discounts-progress-level-item-circle5, $no-ironing-ico, $no-wash-ico, $price-ico, $price2-ico, $slider-btn, $time-ico, $wash-ico, )
$spritesheet: (327px, 259px, '~sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
