@media only screen and (max-width : 1199px)
	body, html
		font-size: 14px
	.header_nav
		ul
			li
				a
					font-size: 12px
	.header_modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			.intermediate_item
				display: block
			.modal_form_input_wrap
				display: block
	.header_nav
		ul
			li
				a
					margin-left: 5px
		.adress
			li + li
				margin-left: 8px
	.header
		&_mainMenu
			top: 48px
		&_nav-main-menu
			ul
				padding-top: 28px
			.logo
				margin: 4px 0 5px 0
	.header_scroll
		top: 0
	//Секция о нас
	.aboutUs
		padding-top: 50px
		.owl-carousel
			.owl-item
				img + img
					display: none
		.owl-nav
			width: 34%
			bottom: -43px
		.owl-dots
			left: calc(17% - 120px)
			bottom: -38px
		&__slider-wrap
			.item
				.aboutUs__slide-img
					img
						margin: 0 auto
						display: block
	//Секция техноологии, слайдер
	.technoligy
		min-height: 807px
		padding-top: 44px
		&__caption
			margin-top: 0
		&__uzor-before
			top: -50px
			height: 93px
		.connecting__uzor-after
			top: 63px
			width: 273px
		.connecting__connecting-lines
			height: 70px
			&:before
				top: 29px
	//Секиця Скидки, форма
	//Cекиця наши работы, слайдер
	.ourWorks
		padding-top: 50px
	//Cекиця цены на басейны
	.pricePools
		min-height: 869px
		padding-top: 50px
		&__type-pool
			padding: 33px 20px 40px
		&__btn
			padding: 15px 69px
	//Cекиця скидки на монтаж, форма
	//Секиция Этапы работы
	.stageOfWork
		padding-top: 50px
		&__stages-bg
			padding-top: 100px
		.connecting__uzor-after
			width: 74px
		&__items-left
			li
				padding-right: 90px
			.text-right
				margin-right: 10px
				padding: 0 10px
				text-align: center
		&__items-right
			li
				padding-left: 90px
			.text-left
				margin-left: 10px
				padding: 0 10px
				text-align: center
		.stage1
			width: 100px
			height: 100px
		.stage2
			width: 100px
			height: 100px
		.stage3
			width: 100px
			height: 100px
		.stage4
			width: 100px
			height: 100px
	//Cекция наша команда
	//Секиця отзывы, слайдер
	.reviews
		padding-top: 50px
		&__wrap
			//padding-bottom: 120px
			padding: 100px 80px 146px 80px
	//Сектця новости
	.news
		padding-top: 0
		.owl-stage-outer
			margin-bottom: 275px
		.connecting__wrap
			height: 163px
			bottom: 0
			.connecting__connecting-lines_right
				height: 84px
			.connecting__connecting-lines
				margin-top: 80px
				height: 83px
				&:before
					top: 40px
		.customBtn
			bottom: 150px

	//Секция скидки при заказе через сайт
	//Секция Мы готовы предложить
	.weReadyOffer
		padding-top: 50px
	//footer
	.footer
		&__logo
			margin-top: 130px

@media only screen and (max-width : 991px)
	body, html
		font-size: 12px
	.section__default-caption
		font-size: 80px
	.header_nav
		display: none
	.header_modal
		margin-top: 40px
	nav[canvas]
		display: block
	.modal_form_input_wrap
		.modal_input_error
			right: 0
	.header
		&_mainMenu
			position: fixed
			height: 86px
			top: 0
			display: none
			ul
				display: none
	.header_title
		top: calc(25% - 68px)
	.aboutUs
		&__uzor
			width: 63px
		.owl-dots
			left: 116px
		.owl-dots
			left: 73px
		.owl-nav
			width: 50%
	.technoligy
		margin-bottom: 0
		min-height: 800px
		.connecting__connecting-lines
			margin-top: 110px
		.connecting__connecting-lines_right
			height: 74px
		.connecting__uzor-after
			width: 128px
		.customPrevBtn
			right: 67%
		.customNextBtn
			left: 67%
	.pricePools
		min-height: 810px
		&__btn
			padding: 12px 59px
		.connecting
			&__connecting-lines
				margin-top: 80px
				height: 72px
				&:before
					top: 30px
			&__connecting-lines_right
				height: 43px
	.stageOfWork
		&__stages-bg
			padding-top: 87px
		&__stages
			p
				font-size: 13px
			li + li
				margin-top: 110px
		.connecting__uzor-after
			width: 19px
		&__stages-bg
			margin-top: 8px
		&__items-left
			li
				padding-right: 75px
				p
					display: inline-block
					width: 44%
					margin-right: 15px
		&__items-right
			li
				padding-left: 75px
				p
					display: inline-block
					width: 44%
					margin-left: 15px
		.connecting__wrap
			height: 180px
			bottom: -119px
			.connecting__connecting-lines
				margin-top: 95px
				height: 50px
				&:before
					top: 47px
			.connecting__connecting-lines_right
				height: 98px
	.ourWorks
		.defaul-title
			font-size: 80px
		.customPrevBtn
			right: 60%
		.customNextBtn
			left: 60%
	.ourTeam
		margin-top: 100px
		.section__default-caption
			margin-bottom: 45px
	.reviews
		&__wrap
			padding: 50px 40px 146px 40px
		&__text
			padding: 63px 65px 150px 200px
			font-size: 13px
		.customPrevBtn
			right: 60%
		.customNextBtn
			left: 60%
	.news
		.connecting__uzor-after
			width: 96px
		.section__default-caption
			margin-bottom: 30px
		.customPrevBtn
			right: 60%
		.customNextBtn
			left: 60%
	.footer
		&__contacts
			a
				font-size: 12px
		&__logo
			margin-top: 128px
@media only screen and (max-width : 767px)
	body, html
		font-size: 10px
	.animated
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	.section__default-caption
		font-size: 70px
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.header_modal
		margin-top: 40px
	[off-canvas*=left]
		width: 255px
	.opacityItem
		opacity: 1
		transition: none
	.news
		.connecting__uzor-after
			display: none
	.aboutUs
		padding-bottom: 200px
		&__uzor
			display: none
		&__slider-wrap
			margin-top: 0
		&__usluga-description
			text-align: center
			min-height: 90px
			font-size: 16px
		&__usluga-bg
			background: none
			box-shadow: none
		&__info
			width: 100%
			text-align: center
			margin-bottom: 15px
		&__slide-img
			display: block
			margin: 0 auto
		&__slider
			left: 0
		.owl-dots
			left: calc(50% - 128px)
			bottom: -50px
		.owl-nav
			bottom: -52px
			width: calc(100% - 15px)
			.owl-prev
				float: inherit
				margin-right: 235px
			.owl-next
				float: inherit
	.technoligy
		min-height: 882px
	.technoligy__slider-wrap
		margin-top: 0
		.item
			display: flex
			flex-direction: column-reverse
		.technoligy__description-caption
			text-align: center
		.technoligy__description
			display: block
			width: 100%
	.discounts
		padding-top: 30px
		.intermediate_title
			p
				margin-top: 25px
		.intermediate_item + .intermediate_item
			margin-top: 25px
	.ourWorks
		&__slider-description
			font-size: 12px
	.pricePools
		&__type-pool
			width: 80%
			margin: 0 auto
			margin-top: 40px
	.stageOfWork
		&__stages-bg
			display: flex
			flex-direction: column
			background: none
			padding-top: 20px
			&:after
				display: none
		&__stages
			li + li
				margin-top: 0
		&__items-left
			display: flex
			flex-direction: column-reverse
			order: 2
			li
				display: flex
				flex-direction: row-reverse
				justify-content: center
				padding-right: 0
				align-items: center
				p
					text-align: left !important
			.text-right
				margin-right: 0
				padding: 0
		&__items-right
			order: 1
			li
				padding-left: 0
			.text-left
				margin-left: 0
				padding: 0
				text-align: left
		&__stages
			.stage1
				a:before
					left: auto
					right: 61px
				a:after
					display: none
			.stage2
				a:before
					left: auto
					right: 70px
			.stage3
				a:before
					right: 80px
				a:after
					display: none
			.stage4
				a:before
					right: 69px
	.ourTeam
		&__wrap
			width: 80%
			margin: 0 auto
		&__photo-cart + .ourTeam__photo-cart
			margin-top: 40px
	.reviews
		&__autor
			top: 0
			left: 0
		&__wrap
			padding: 20px 20px 145px 20px
		&__text
			padding: 20px 10px 95px 200px
	.weReadyOffer
		padding-bottom: 60px
		&__service
			//width: 80%
			margin: 0 auto
	.footer
		padding-bottom: 15px
		&__contacts
			margin-top: 6px
		&__service
			li + li
				margin-top: 5px
		&__pageInsocialNetwork
			justify-content: inherit
			margin-top: 40px
			li + li
				margin-left: 10px
		&__logo
			margin-top: 30px
@media only screen and (max-width : 700px)
	.section__default-caption
		font-size: 60px
	.aboutUs
		padding-bottom: 200px
		&__uzor
			display: none
		&__slider-wrap
			margin-top: 0
		&__usluga-description
			text-align: center
			min-height: 90px
			font-size: 16px
		&__usluga-bg
			background: none
			box-shadow: none
		&__info
			width: 100%
			text-align: center
			margin-bottom: 15px
		&__slide-img
			display: block
			margin: 0 auto
		&__slider
			left: 0
		//.owl-dots
			left: 0
			right: 0
			bottom: -50px
	.pricePools
		&__caption
			margin-bottom: 0
@media only screen and (max-width : 640px)
	body, html
		font-size: 9px
	.section__default-caption
		font-size: 60px
	.aboutUs
		&__usluga-description
			font-size: 13px
		.customPrevBtn
			left: 28%
		.customNextBtn
			right: 28%
		&__uzor
			display: none
	.discounts
		.intermediate_wrap
			margin-top: 10px
	.technoligy
		min-height: 750px
		&__caption
			margin-left: 0
			text-align: center
		&__uzor-before
			display: none
		.connecting__uzor-after
			display: none
		.connecting__connecting-lines
			display: none
		.connecting__connecting-lines_right
			display: none
	.ourWorks
		.defaul-title
			font-size: 60px
		.customPrevBtn
			right: 65%
		.customNextBtn
			left: 65%
	.stageOfWork
		&__stages-bg
			min-height: 439px
		.connecting__uzor-after
			display: none
		.connecting__wrap
			display: none
		&__stages
			p
				font-size: 14px
	.reviews
		.section__default-caption
			text-align: center
			margin-bottom: 20px
		.box-shadow
			box-shadow: none
		&__autor
			position: relative
		&__autor_name
			margin: 10px 0 10px
		&__position
			margin-bottom: 5px
		&__wrap
			padding: 0
		&__text
			padding: 20px 10px 30px 10px
		.owl-stage-outer
			padding-bottom: 0
		.owl-carousel
			.owl-item
				img
					width: auto
					display: inline-block
		.customPrevBtn
			right: 65%
		.customNextBtn
			left: 65%
	.news
		.connecting__wrap
			display: none
		.customPrevBtn
			right: 65%
		.customNextBtn
			left: 65%
@media only screen and (max-width : 520px)
	.technoligy
		min-height: 665px
	.section__default-caption
		font-size: 40px
	.dm-modal
		width: 100%
	.dm-modal
		input[type=submit]
			width: 100%
	.aboutUs
		.customPrevBtn
			left: 23%
		.customNextBtn
			right: 23%
	.ourWorks
		.customPrevBtn
			right: 80%
		.customNextBtn
			left: 80%
	.news
		.customPrevBtn
			right: 80%
		.customNextBtn
			left: 80%
	.dm-table
		width: 90%
//@media only screen and (max-width : 520px)

@media only screen and (max-width : 480px)
	.section__default-caption
		font-size: 30px
	.aboutUs__usluga-name
		margin-bottom: 0
	.our_advantages .our_advantages_item .our_advantages_item_img i
		font-size: 37px
	.ourWorks
		.defaul-title
			font-size: 30px
	.header_title
		h1
			padding-left: 15px
			padding-right: 15px
			font-size: 23px
	.modal_form_input_wrap
		.modal_input_error
			right: 0px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.technoligy
		min-height: 625px
	.pricePools
		&__caption
			font-size: 30px
	.weReadyOffer
		.section__default-caption
			font-size: 30px
@media only screen and (max-width : 400px)
	.dm-modal input[type=submit]
		min-width: auto
	.technoligy
		min-height: 613px
	.aboutUs__slider-wrap .item .aboutUs__slide-img img
				width: 100%
	.aboutUs
		.owl-nav
			bottom: -57px
			width: calc(100% - 3px)
			.owl-prev
				margin-right: 180px

		.owl-dots
			left: calc(50% - 90px)
			.owl-dot.active
				span
					width: 15px
					height: 15px
			.owl-dot
				span
					width: 15px
					height: 15px
					margin: 5px 5px
	.footer
		&__service
			display: none
		.foolWidth
			width: 100%
			text-align: center
			& + .foolWidth
				margin-top: 10px
		&__contacts
			i
				font-size: 18px
			a
				font-size: 18px
		.social-networks
			display: none
		&__logo
			text-align: center
			margin-top: 20px
@media only screen and (max-width : 320px)
	.aboutUs
		&__usluga-bg
			height: 400px
		.owl-nav
			bottom: 13px

		.owl-dots
			bottom: 19px
	.technoligy
		min-height: 593px
