extends ../base
block title
	| Blog page
block main
	body.blog.extinguisher-transition
		div
			.loader
				.loader_inner
					include ../../img/preloader.svg
		include ../modal
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line
		div(canvas='container')
			header(class="header")
				.container
					.header_logo
						a(href="index.html" class="logo").
							Ваш логотип
					nav.header_nav
						ul
							-var links = [{title:'Примеры кухонь', href:'#'},{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'7 3842 59 61 68', href:'tel:73842596168'}];
							each i in links
								li
									a(href=`${i.href}`)= i.title
					.header_modal
						a(data-effect="mfp-zoom-in" data-info="Обратный звонок" href="#popup" class="open-popup-link" title='Обратный звонок') Обратный звонок
					.header_modal
						a(data-effect="mfp-zoom-in" data-info="Обратный звонок" href="#popup3" class="open-popup-link" title='Обратный звонок') Мобильное меню
					.header_title
						h1 Страница Blog
						p для максимального удобства
					.header_bot_txt
						p Более
							span  400
							|   довольных клиентов за
							span  8 лет
							|  успешной работы!
			// Секция  ask-form-title
			section.intermediate
				.container
					.intermediate_title
						h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
					.intermediate_wrap
						form
							.row
								.intermediate_item.col-lg-3.col-md-4.col-sm-4
									.input_wrap
										i.fa.fa-check
										input(name='name', type='text', placeholder='Имя')
								.intermediate_item.col-lg-3.col-md-4.col-sm-4
									.input_wrap
										i.fa.fa-check
										input(name='email', type='text', placeholder='Почта')
								.intermediate_item.col-lg-3.col-md-4.col-sm-4
									.input_wrap
										i.fa.fa-check
										input(name='phone', type='text', placeholder='Телефон')
								input(type='hidden', name='form_name', value='Normal form')
								input(type='hidden', name='form_type', value='normal')
								.intermediate_item.col-lg-3
									input(type='submit', value='Записаться')
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'7 38 425 961 68', href:'tel:73842596168'},{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'Примеры кухонь', href:'#'}];
					each i in obj1
						li
							a(href=`${i.href}`)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>