//Модальное окно
.popup(data-modal="modal-1")
	.dm-table
		.dm-cell
			.dm-modal
				a(href="#" class="close").close__dm-modal
				p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.

				form
					div
						label Введите своё имя
						.modal_form_input_wrap
							.modal_input_error Заполните поле
								.modal_error_triangle
								.modal_error_chest_img
							i.fa.fa-check
							input(name="name" class="modal_form_input" type="text")
						label Введите свой телефон
						.modal_form_input_wrap
							.modal_input_error Заполните поле
								.modal_error_triangle
								.modal_error_chest_img
							i.fa.fa-check
							input(name="phone" class="modal_form_phone" type="text")

					input(type="hidden" name="form_name" value="Вызов дизайнера-замерщика к себе домой бесплатно")
					input(type="hidden" name="form_type" value="modal")
					input(type="submit" value="Отправить")
	.overlay
// Модальное окно success
.popup(data-modal='modal-res')
	.dm-table
		.dm-cell
			.dm-modal
				p.success_mail Заявка отправлена
//Модальное окно захвата
.container
	.row
		.popup(data-modal='modal-form')
			.dm-table
				.dm-cell
					.dm-modal
						i.fa.fa-times.close__dm-modal
						p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
						p.ofer Воспользоваться предложением от компании iShtora, вызвать дизайнера-замерщика к себе домой бесплатно!
						form
							.intermediate_item.col-sm-12.col-xs-12
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_input(name='name', type='text', placeholder='Имя')
							.intermediate_item.col-sm-12.col-xs-12
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
							.intermediate_item.col-sm-12.col-xs-12
								.modal_form_input_wrap
									input(type='hidden', name='form_name', value='Вызов дизайнера-замерщика к себе домой бесплатно')
									input(type='hidden', name='form_type', value='normal')
									input.col-lg-4(type='submit', value='Вызвать бесплатно')
// вариант меню на мобильном
.popup.pop3(data-modal='modal-3')
	.dm-table
		.dm-cell
			.dm-modal
				nav.header_nav_mobile
					ul
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
						li
							a(href='#') Отзывы
						li
							a(href='tel:73842596168') +7 3842 59 61 68
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
						li
							a(href='#') Отзывы
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
	.overlay


