//Модальное окно
.popup(data-modal="modal-1")
	.dm-table
		.dm-cell
			.dm-modal
				a(href="#" class="close")
				p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
				form
					div
						label Введите своё имя
						.modal_form_input_wrap
							.modal_input_error Заполните поле
								.modal_error_triangle
								.modal_error_chest_img
							i.fa.fa-check
							input(name="name" class="modal_form_input" type="text")
						label Введите свой телефон
						.modal_form_input_wrap
							.modal_input_error Заполните поле
								.modal_error_triangle
								.modal_error_chest_img
							i.fa.fa-check
							input(name="phone" class="modal_form_phone" type="text")
						label Введите свой e-mail
						.modal_form_input_wrap
							.modal_input_error Заполните поле
								.modal_error_triangle
								.modal_error_chest_img
							i.fa.fa-check
							input(name="email" class="modal_form_email" type="text")
						.select
							.slct_arrow
								i.fa.fa-angle-down
							a(href="#" class="slct") Выбор заголовков:
							ul.drop
								li Вы крутые
								li Я в Вас влюбился
								li Быстрей Вас только Флеш
							input(type="hidden" name="services")
					input(type="hidden" name="form_name" value="")
					input(type="hidden" name="form_type" value="modal")
					input(type="submit" value="Отправить")
	.overlay
// Модальное окно success
.popup(data-modal='modal-res')
	.dm-table
		.dm-cell
			.dm-modal
				p.success_mail Заявка отправлена
// вариант меню на мобильном
.popup.pop3(data-modal='modal-3')
	.dm-table
		.dm-cell
			.dm-modal
				nav.header_nav_mobile
					ul
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
						li
							a(href='#') Отзывы
						li
							a(href='tel:73842596168') +7 3842 59 61 68
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
						li
							a(href='#') Отзывы
						li
							a(href='#') Примеры кухонь
						li
							a(href='#') Преимущества
	.overlay


